<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
        <servlet-name>mesero_online_local</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        
        <init-param>
	      <param-name>UI</param-name>
	      <param-value>com.mesero.Mesero_online_localMobilUI</param-value>
	    </init-param>
        
        <init-param>
            <description>Vaadin UI</description>
            <param-name>UIProvider</param-name>
            <param-value>com.mesero.MeseroOnLineLocalProvider</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
	    <servlet-name>mesero_online_local</servlet-name>
	    <url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mesero_online_local</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>
    <context-param>
	  <param-name>productionMode</param-name>
	  <param-value>false</param-value>
	</context-param>
	<listener>
		<listener-class>com.mesero.core.ContextListener</listener-class>
	</listener>
</web-app>